#loginform{
	display: block;
	padding-bottom: 100px;
	line-height: 20;
}

#searchBar{
	height: 100%;
	background-color: #C3B749;
}

#searchIcon{
	position: absolute;
	top: 20px;
	left: 5px;
	background-color: #C3B749;
}

#debug2{
	width: 20px;
}

#player{

}

#bottom_lower_half_container{
	position: absolute;
	top: 300px;
	/*margin: fill;*/
}

#videoTimeRangeSlider{
	position: relative;
	top: 15px;
}

#slider-margin-value-min{
	position: relative;
	top: 20px;
}

#slider-margin-value-max{
	position: relative;
	top: 20px;
}

#changePlaylist{
	position: relative;
	top: 50px;
}

#playButton{
	position: absolute;
	right: 0;
}


/* The Close Button */
#closeButton {
/*	position: absolute;
	top: -7px;
    left: 407px;*/
    float: right;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

li[id*="PlaylistID"]:hover {
	color: red;
}

span[id*="closeButtonLi"]{
	position: relative;
	float: right;
	font-weight: 1000;
	font-size: 20px;
}

span[id*="closeButtonLi"]:hover,
span[id*="closeButtonLi"]:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}